body
  background-color $color-bg
  font-family $font-family-serif

div.container
  //max-width 600px
  width 90%
  max-width 900px
  margin 20px auto

div.categories
  margin 0 auto
  width: 100%

div#category-divs-wrapper
  margin 0 auto
  width: 100%
  float left
  .category-div
    cursor pointer
    float left
    margin 3px 6px 3px 0
    background-color $qz-lightpink
    border-radius 3px
    transition background-color 0.2s
    &.active-hover
      background-color $qz-pink
      p
        color white
    &.active-click
      background-color $qz-purple
      transition background-color 0.5s
      transition-delay 0.2s
      p
        color white
    p
      color $color-primary
      font-size 0.9em
      margin 0
      padding 8px

div#plot-wrapper
  //max-width 660px
  width 100%
  min-height 450px
  margin 20px auto
  float left
  .axis
    line, path
      fill none  
      stroke lighten(gray, 40%)
      shape-rendering crispEdges
      stroke-width 1px
    text
      font-size 12px
      fill darken(gray, 55%)
  h4
    height 40px
    color $color-primary
    text-transform uppercase
  .label
    font-size 1em
    fill darken(gray, 10%)
    text-anchor end
  .footnote
    text-anchor end
    font-size 0.9em
    fill darken(gray, 10%)
    display none
    &.active-footnote
      display block
  .data-source
    text-anchor end
    font-size 0.9em
    fill darken(gray, 10%)
  .plot-circle
    fill-opacity 0.5
    fill lightgray
    stroke white
    stroke-opacity 0.2
    transition fill 0.2s
    cursor pointer
    pointer-events all
    &:hover
      fill-opacity 0.9
      stroke-opacity 0.3
      fill $qz-pink
    &.active-hover
      fill-opacity 0.9
      stroke-opacity 0.3
      fill $qz-pink
    &.active-click
      fill-opacity 0.9
      stroke-opacity 0.3
      fill $qz-purple
      transition fill 0.5s
      transition-delay 0.2s

