@media screen and (-webkit-min-device-pixel-ratio: 0) {
select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px)
  div.category-divs
    display inline

  div.category-dropdown
    display none

@media only screen and (max-width: 768px)
  div.category-divs
    display none

  div.category-dropdown
    display inline

  div#plot-wrapper
    .label
      font-size 0.9em
      fill gray
      text-anchor end
    .footnote
      font-size 0.8em
    .data-source
      font-size 0.8em

@media only screen and (max-width: 480px)
  .tooltip
    max-width 150px !important
    p
      font-size 0.6em !important
    h4
      font-size 0.7em !important

  div#plot-wrapper
    .label
      font-size 0.8em
    .footnote
      font-size 0.6em
    .data-source
      font-size 0.6em
    .plot-circle
      fill-opacity 0.4
      pointer-events none
      &.active-click
        fill-opacity 0.9
        stroke-opacity 0.3
        fill $qz-purple
        pointer-events all
        transition fill 0.5s
        transition-delay 0.2s

