.tooltip
  line-height 1
  font-weight bold
  padding 12px
  background white
  color $color-primary
  border-radius 2px
  max-width 250px
  pointer-events none
  box-shadow 1px 1px 2px gray
  p
    font-size 0.9em
    font-weight normal
    margin 5px 0
    padding 0
  h4
    margin 5px 0
    padding 0
    font-size 1em
    line-height 1.1em

/* Creates a small triangle extender for the tooltip */
.tooltip:after
  box-sizing border-box
  display inline
  font-size 10px
  width 100%
  line-height 1
  color white
  position absolute
  pointer-events none

/* Northward tooltips */
.tooltip.n:after
  content "\25BC"
  margin -1px 0 0 0
  top 100%
  left 0
  text-align center

