doctype html
html(lang='en')
  head
    title Automation
    link(rel='stylesheet', href='styles/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  body
    div.container
      div.categories
        div.category-divs
          h3 Select Job Category
          div#category-divs-wrapper
        div.category-dropdown
          div.category-dropdown-title
          div#category-dropdown-wrapper
      div#plot-wrapper

    script(src='scripts/main.js')
